<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Resume</title>
</head>
<body>
  <div>
    <header class="ds-header" id="site-header">
      <div class="container">
        <div class="ds-header-inner">
          <a href="index.html" class="ds-logo">
            <span>A</span>Almario Guzman III
          </a>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a routerLink="home" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="about" class="nav-link">About</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="education" class="nav-link">Education</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="skills" class="nav-link">Skills</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="references" class="nav-link">References</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="pagenotfound" class="nav-link">Pagenotfound</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
  </div>
  <div class="ds-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <figure>
            <img
              src="https://stackblitz.com/files/github-lgbcab/github/bxste/angular-cv-2135-amg/main/pictures/header2.png"
              class="rounded mx-auto d-block"
              alt="..."
              id="header"
            />
          </figure>
        </div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
          <section>
            <h1>
              <span>HI THERE</span>
              I’m Almario Guzman III <br />
              Web Development Student.
            </h1>
          </section>
        </div>
      </div>
    </div>
  </div>
</body>
<router-outlet></router-outlet>
